<?xml version="1.0"?>
<robot name="frame"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/urdf/frame-half.urdf.xacro"/>

  <xacro:frame-half prefix="kuka" thickness="0.09" width="1.92" depth="1.82"
						  height="1.26" tableHeight="1.00"/>
						  
	

</robot>  
