<?xml version="1.0"?>
<robot name="left_kuka_shadow"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/left_kuka_shadow.urdf.xacro" />
  <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>
  
  <link name="world" />
  <!-- KUKA Shadow arm and hand  -->
  <xacro:leftkukashadow parent="world" prefix="true" controller="true">
    <origin xyz="${cal_left_arm_x} ${cal_left_arm_y} ${cal_left_arm_z}"
				rpy="${cal_left_arm_roll} ${cal_left_arm_pitch} ${cal_left_arm_yaw}"/>
  </xacro:leftkukashadow>
</robot>
