<?xml version="1.0"?>
<robot name="pa10"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>
  <xacro:include filename="$(find agni_description)/pa10/pa10-a.urdf.xacro"/>  
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand_muscle.urdf.xacro" />

  <!-- arms -->
  <xacro:pa10_arm name="right_"/>

  <!-- Shadow Hands -->
  <joint name="right_arm_hand_mount" type="fixed">
    <parent link="right_arm_7_link"/>
    <child link="forearm"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <xacro:shadowhand_muscle/>

</robot>