<?xml version="1.0"?>
<robot name="ra_kuka"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/kuka/lwr.urdf.xacro"/> 
  <xacro:include filename="$(find agni_description)/kuka/lwr_controllers.gazebo.xacro"/>  
  
  <!-- KUKA arm -->
  <xacro:kuka_lwr_arm name="right_" reflect="1" tool_name=""/>
   
  <xacro:right_lwr_arm_gazebo_controller namespace="ra" port="49940"/>

</robot>
