<?xml version="1.0"?>
<robot name="right_kuka_shadow"
     xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/right_kuka_shadow.urdf.xacro" />
  <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>
  
  <link name="world" />
  <!-- KUKA Shadow arm and hand  -->
  <xacro:rightkukashadow parent="world" prefix="true" controller="true">
    <origin xyz="${cal_right_arm_x} ${cal_right_arm_y} ${cal_right_arm_z}"
        rpy="${cal_right_arm_roll} ${cal_right_arm_pitch} ${cal_right_arm_yaw}"/>
  </xacro:rightkukashadow>
</robot>
