<?xml version="1.0"?>
<robot name="right_pa10_shadow"
     xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/right_pa10_shadow.urdf.xacro" />
  <xacro:include filename="$(find agni_description)/calibration/pa10_cal.xml"/>
  
  <link name="world" />
  <!-- PA10 Shadow arm and hand  -->
  <xacro:rightpa10shadow parent="world" prefix="true" controller="true">
    <origin xyz="${cal_right_arm_x} ${cal_right_arm_y} ${cal_right_arm_z}"
        rpy="${cal_right_arm_roll} ${cal_right_arm_pitch} ${cal_right_arm_yaw}"/>
  </xacro:rightpa10shadow>
</robot>
