<?xml version="1.0"?>
<robot name="right_pa10_shadow"
     xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/pa10/pa10-c.urdf.xacro"/> 
  <!-- <xacro:include filename="$(find agni_description)/pa10/lwr_controllers.gazebo.xacro"/> -->
  <xacro:include filename="$(find agni_description)/urdf/sr_gazebo.urdf.xacro" /> 
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
  <xacro:include filename="$(find agni_description)/calibration/pa10_cal.xml"/>
  
  <!-- prefix can be true or false to prefix joint names or not -->
  <!-- controller can be true or false to use gazebo controllers or not -->
  <!-- parent is the frame the robot is fixed to -->
  <!-- origin is the position of the robot in this frame -->
  <xacro:macro name="rightpa10shadow" params="parent *origin prefix controller">
    <!-- KUKA arm -->
    <xacro:pa10c_arm name="right_"/>
    <joint name="right_frame_placement" type="fixed">
       <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="right_arm_base_link"/>
    </joint>  
    
    <xacro:if value="${controller}">  
    <!-- add controllers -->
       <!-- pa10 controllers HERE -->
      <xacro:shadow_gazebo_controller_manager namespace="rh" />
    </xacro:if>  

    
    <xacro:if value="${prefix}">
      <!-- Shadow Hands --> 
      <xacro:shadowhand muscletrans="false" muscle="false" bio="false" ubi="true" eli="false" reflect="1.0" prefix="r_"  />
      
      <!-- Link arm and hand -->  
      <joint name="right_arm_hand_mount" type="fixed">
        <parent link="right_arm_hand_mount"/>
        <child link="r_forearm"/>
        <origin xyz="0 0 0.0151" rpy="0 0 0" />
      </joint>
    </xacro:if>  
    <xacro:unless value="${prefix}">
      <xacro:shadowhand muscletrans="false" muscle="false" bio="false" ubi="true" eli="false" reflect="1.0" prefix=""  />
      <!-- Shadow Hands --> 
      <!-- Link arm and hand -->  
      <joint name="right_arm_hand_mount" type="fixed">
        <parent link="right_arm_hand_mount"/>
        <child link="forearm"/>
        <origin xyz="0 0 0.0151" rpy="0 0 0" />
      </joint>
    </xacro:unless>  
  </xacro:macro>
</robot>
