<?xml version="1.0"?>
<robot name="right_kuka_shadow"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/kuka/lwr.urdf.xacro"/> 
  <xacro:include filename="$(find agni_description)/kuka/lwr_controllers.gazebo.xacro"/> 
  <xacro:include filename="$(find agni_description)/urdf/sr_gazebo.urdf.xacro" /> 
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
   <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>
  
  
  <link name="world" />
  <!-- KUKA arm -->
  <xacro:kuka_lwr_arm name="right_" reflect="1" tool_name=""/>
  <joint name="right_frame_placement" type="fixed">
		<origin xyz="${cal_right_arm_x} ${cal_right_arm_y} ${cal_right_arm_z}"
				rpy="${cal_right_arm_roll} ${cal_right_arm_pitch} ${cal_right_arm_yaw}"/>
    <parent link="world"/>
    <child link="right_arm_base_link"/>
  </joint>  
  <xacro:right_lwr_arm_gazebo_controller namespace="rk" port="49940"/>
  
  <!-- Shadow Hands --> 
  <xacro:shadowhand muscletrans="false" muscle="false" bio="false" ubi="true" eli="false" reflect="1.0" prefix=""  />
  
  <xacro:shadow_gazebo_controller_manager namespace="rh" />
  
  <!-- Link arm and hand -->  
  <joint name="right_arm_hand_mount" type="fixed">
    <parent link="right_arm_hand_mount"/>
    <child link="forearm"/>
    <origin xyz="0 0 0.0151" rpy="0 0 0" />
  </joint>
</robot>
