<?xml version="1.0"?>
<robot name="flobi"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <xacro:include filename="$(find agni_description)/flobi/flobiv3.urdf.xacro" />
  
  <link name="flobi_base_link" />
  <xacro:flobi prefix="" neutral="1" gender="0" parent="flobi_base_link" >
		<origin xyz="0 0 0.0" rpy="0 0 0"/>
	</xacro:flobi>
   
</robot>
