<?xml version="1.0"?>
<robot name="kukas"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>

  <xacro:include filename="$(find agni_description)/urdf/frame-half.urdf.xacro"/>
  <xacro:include filename="$(find agni_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
  
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand_motor.urdf.xacro" />

  <xacro:frame-half prefix="kuka" thickness="0.09" width="1.92" depth="1.82"
						  height="1.26" tableHeight="1.00"/>
  
  <!-- KUKA arms -->
  <xacro:kuka_lwr_arm parent="kuka_frame" name="left" 
							 right="-1" tool_name="">
	 <origin xyz="${cal_left_arm_x} ${cal_left_arm_y} ${cal_left_arm_z}"
				rpy="${cal_left_arm_roll} ${cal_left_arm_pitch} ${cal_left_arm_yaw}"/>
  </xacro:kuka_lwr_arm>

  <xacro:kuka_lwr_arm parent="kuka_frame" name="right" 
							 right="+1" tool_name="">
	 <origin xyz="${cal_right_arm_x} ${cal_right_arm_y} ${cal_right_arm_z}"
				rpy="${cal_right_arm_roll} ${cal_right_arm_pitch} ${cal_right_arm_yaw}"/>
  </xacro:kuka_lwr_arm>

<!--
  <xacro:kuka_lwr_arm parent="kuka_frame" name="left2" 
							 right="-1" tool_name="_angle">
	 <origin xyz="${cal_base_to_left_arm_x} ${cal_base_to_left_arm_y} ${cal_base_to_left_arm_z}"
				rpy="${cal_base_to_left_arm_roll} ${cal_base_to_left_arm_pitch} ${cal_base_to_left_arm_yaw}"/>
  </xacro:kuka_lwr_arm>

  <xacro:kuka_lwr_arm parent="kuka_frame" name="right2" 
							 right="+1" tool_name="_angle">
	 <origin xyz="${cal_base_to_right_arm_x} ${cal_base_to_right_arm_y} ${cal_base_to_right_arm_z}"
				rpy="${cal_base_to_right_arm_roll} ${cal_base_to_right_arm_pitch} ${cal_base_to_right_arm_yaw}"/>
  </xacro:kuka_lwr_arm>
-->

  <!-- Shadow Hands -->
<!--
  <joint name="left_arm_hand_mount" type="fixed">
    <parent link="left_arm_hand_link"/>
    <child link="forearm"/>
    <origin xyz="0 0 0" rpy="0 0 ${2.35619449}" />
  </joint>
  <xacro:shadowhand_left_motor/>
-->
  <joint name="right_arm_hand_mount" type="fixed">
    <parent link="right_arm_hand_link"/>
    <child link="forearm"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <xacro:shadowhand_motor/>

  <transmission name="arm0">
	 <type>transmission_interface/SimpleTransmission</type>
	 <joint name="right_arm_0_joint"/>
	 <actuator name="arm0">
		<hardwareInterface>EffortJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	 </actuator>
  </transmission>
  <transmission name="arm0">
	 <type>transmission_interface/SimpleTransmission</type>
	 <joint name="left_arm_0_joint"/>
	 <actuator name="arm0">
		<hardwareInterface>EffortJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	 </actuator>
  </transmission>
</robot>