<?xml version="1.0"?>
<robot name="kukas"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/calibration/default_cal.xml"/>
  <xacro:include filename="$(find agni_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand_motor.urdf.xacro" />

  <!-- KUKA arms -->
  <xacro:kuka_lwr_arm name="left_" right="-1" tool_name=""/>

  <joint name="left_arm_hand_mount" type="fixed">
    <parent link="left_arm_hand_mount"/>
    <child link="forearm"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <xacro:shadowhand_left_motor/>

</robot>