<launch>

  <group ns="rh">
    <include file="$(find agni_description)/launch/single_shadow_gazebo.launch" >
      <arg name="init_pose" value="-x 1 -y 0 -z 0" />
      <arg name="namespace" value="right"/>
    </include>
	</group>


  <group ns="lh">
    <include file="$(find agni_description)/launch/single_shadow_gazebo.launch" >
      <arg name="init_pose" value="-x -1 -y 0 -z 0" />
      <arg name="namespace" value="left"/>
    </include>
  </group>

</launch>
