<launch>

  <!-- load frame description -->
  <param name="frame" command="$(find xacro)/xacro.py '$(find agni_description)/robots/pa10_frame.urdf.xacro'" />

  <group ns="right">
	 <include file="single_pa10.launch">
		<arg name="namespace" value="right"/>
	 </include>
  </group>

  <group ns="left">
	 <include file="single_pa10.launch">
		<arg name="namespace" value="left"/>
	 </include>
  </group>

</launch>
