<launch>

  <group ns="rk">
    <include file="$(find agni_description)/launch/single_kuka_gazebo.launch" >
      <arg name="init_pose" value="-x 0.5 -y 0 -z 0.05" />
      <arg name="namespace" value="rk"/>
    </include>
	</group>

  <group ns="lk">
        <include file="$(find agni_description)/launch/single_kuka_gazebo.launch" >
      <arg name="init_pose" value="-x -0.5 -y 0 -z 0.05" />
      <arg name="namespace" value="lk"/>
    </include>
  </group>

</launch>
