<launch>
	<arg name="use_prefix" default="0"/>
	<include file="$(find agni_description)/launch/right_arm_and_hand_gazebo.launch">
		<arg name="use_prefix" value="$(arg use_prefix)"/>
	</include>
  <include file="$(find agni_description)/launch/left_arm_and_hand_gazebo.launch">
		<arg name="use_prefix" value="$(arg use_prefix)"/>
	</include>
</launch>
