<launch>

  <!-- start gazebo with an empty plane -->
  <!-- Gazebo world file to load. -->
  <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world" />
  <arg name="gui" default="true"/>

  <!-- Gazebo world file to load. -->
  <!-- We want gazebo to stay in the root namespace but the nodes below to be
  relative. Can then launch this inside a namespace to namespace the hand. -->
  <group ns="/">
      <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
      </include>
  </group>
  
  <!-- load frame description -->
  <param name="frame" command="$(find xacro)/xacro.py '$(find agni_description)/robots/frame.urdf.xacro'" />

  <!-- spawn the support model -->
  <node name="spawn_support" pkg="gazebo_ros" type="spawn_model" args="-urdf -param frame -model support_model" respawn="false" output="screen" />
  
  <!-- include our robots -->
  <arg name="RK" default="1"/>
  <arg name="LK" default="0"/>
  <group if="$(arg RK)">
		<group if="$(arg LK)">
			  <!-- BOTH hands -->
			   <include file="$(find agni_description)/launch/both_arm_gazebo.launch"/>
		</group>	
		<group unless="$(arg LK)">
				<!-- RIGHT hand only -->
				 <include file="$(find agni_description)/launch/right_arm_gazebo.launch"/>
		</group>	
	</group>	
	<group unless="$(arg RK)">
			<!-- LEFT hand only -->
			   <include file="$(find agni_description)/launch/left_arm_gazebo.launch"/>
	</group>		
  
 
</launch>
