<launch>

  <!-- start gazebo with an empty plane -->
  <include file="$(find sr_hand)/launch/gazebo/loaders/empty_world.launch"/>
  
  <!-- load frame description -->
  <param name="frame" command="$(find xacro)/xacro.py '$(find agni_description)/robots/frame.urdf.xacro'" />

  <!-- spawn the support model -->
  <node name="spawn_support" pkg="gazebo" type="spawn_model" args="-urdf -param frame -model support_model" respawn="false" output="screen" />
  
  <!-- include our robots -->
  <arg name="RK" default="1"/>
  <arg name="LK" default="0"/>
  <group if="$(arg RK)">
		<group if="$(arg LK)">
			  <!-- BOTH hands -->
			   <include file="$(find agni_description)/launch/both_arm_gazebo.launch"/>
		</group>	
		<group unless="$(arg LK)">
				<!-- RIGHT hand only -->
				 <include file="$(find agni_description)/launch/right_arm_gazebo.launch"/>
		</group>	
	</group>	
	<group unless="$(arg RK)">
			<!-- LEFT hand only -->
			   <include file="$(find agni_description)/launch/left_arm_gazebo.launch"/>
	</group>		
  
 
</launch>
