<launch>

  <!-- start gazebo with an empty plane -->
  <!-- Gazebo world file to load. -->
  <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world" />
  <arg name="gui" default="true"/>

  <!-- Gazebo world file to load. -->
  <!-- We want gazebo to stay in the root namespace but the nodes below to be
  relative. Can then launch this inside a namespace to namespace the hand. -->
  <group ns="/">
      <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
      </include>
  </group>
  
  <!-- include our robots -->
  <include file="$(find agni_description)/launch/both_hands_prefix_gazebo.launch"/>
</launch>
