<launch>
<!-- arguments R and L to select left or right or both arm and hand -->

  <!-- start gazebo with an empty plane -->
  <!-- Gazebo world file to load. -->
  <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world" />
  <arg name="gui" default="true"/>
  
  <!-- We want gazebo to stay in the root namespace but the nodes below to be
  relative. Can then launch this inside a namespace to namespace the hand. -->
  <group ns="/">
      <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
      </include>
  </group>

  <!-- load frame description -->
  <arg name="ARM" default="kuka"/>
  <param name="frame" command="$(find xacro)/xacro.py '$(find agni_description)/robots/$(arg ARM)_frame.urdf.xacro'" />
  
  
  <!-- set robot description for combined table + 2 robot arm and hand -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/both_$(arg ARM)_shadow.urdf.xacro'" />


  <!-- spawn the support model -->
  <node name="spawn_support" pkg="gazebo_ros" type="spawn_model" args="-urdf -param frame -model frame" respawn="false" output="screen" />
  
  <!-- include our robots -->
  <arg name="R" default="1"/>
  <arg name="L" default="0"/>
  <arg name="USE_PREFIX" default="1"/>
  <group if="$(arg R)">
    <group if="$(arg L)">
      <!-- BOTH arms & hands -->
      <include file="$(find agni_description)/launch/both_arm_and_hand_gazebo.launch">
        <arg name="use_prefix" value="$(arg USE_PREFIX)"/>
        <arg name="arm_type" value="$(arg ARM)"/>
      </include>
    </group>  
    <group unless="$(arg L)">
      <!-- RIGHT arm & hand only -->
      <include file="$(find agni_description)/launch/right_arm_and_hand_gazebo.launch">
        <arg name="use_prefix" value="$(arg USE_PREFIX)"/>
        <arg name="arm_type" value="$(arg ARM)"/>
      </include>
    </group>  
  </group>  
  <group unless="$(arg R)">
    <!-- LEFT arm & hand only -->
    <include file="$(find agni_description)/launch/left_arm_and_hand_gazebo.launch">
      <arg name="use_prefix" value="$(arg USE_PREFIX)"/>
      <arg name="arm_type" value="$(arg ARM)"/>
    </include>
  </group>    
  
 
</launch>
