<launch>
	<arg name="namespace" default="ra"/>
	 
	<!-- Controllers for the kuka -->
  <!-- controller parameter for Kuka-->
  <rosparam command="load" file="$(find agni_description)/kuka/$(arg namespace)_controllers.yaml" />
 
  <!-- load controllers for kuka-->
  <!-- load controllers -->
  <node name="$(arg namespace)_lwr_arm_controller" pkg="rtt_ros" type="rttlua" launch-prefix="xterm -hold -T $(arg namespace) -e " args=" -i $(find agni_description)/kuka/$(arg namespace)_deploy.lua --">
  </node> 
    
</launch>
