<launch>
  <arg name="use_prefix" default="0"/>  
  <arg name="arm_type" default="kuka"/>
  <!-- upload parameters on the correct namespaces 
  must be done before gazebo spawner to have the plugin controller manager
  load on the sub namespaces -->
  
  <group ns="la">
    <include file="$(find agni_description)/launch/arm_upload.launch" >
      <arg name="namespace" value="la"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
    </include>  
  </group> 
    
  <group ns="lh">
    <include file="$(find agni_description)/launch/sr_upload.launch" >
      <arg name="namespace" value="lh"/>
      <arg name="use_prefix" value="$(arg use_prefix)"/>
    </include>  
  </group>
  
  <!-- Load the general left robot_description, spawn it, merge joint_states -->
  <group ns="left">
    <include file="$(find agni_description)/launch/single_arm_and_hand_gazebo_no_controllers.launch" >
      <!-- <arg name="init_pose" value="-x 0.5 -y 0 -z 0.05" />-->
      <arg name="namespace" value="left"/>
      <arg name="use_prefix" value="$(arg use_prefix)"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
    </include>
    
    <node pkg="topic_tools" type="relay"
        name="$(arg arm_type)_joint_state_merger"
        args="/la/joint_states /left/joint_states" >
    </node>
    <node pkg="topic_tools" type="relay"
        name="shadow_joint_state_merger"
        args="/lh/joint_states /left/joint_states" >
    </node>     
  </group>
  
  <!-- Controllers for the arm -->
  <group ns="la">
    <include file="$(find agni_description)/launch/$(arg arm_type)_gazebo_bringup.launch" >
      <arg name="namespace" value="la"/>
    </include>  
  </group> 
  
  <!-- Controllers for the hand -->
  <group ns="lh"> 
    <include file="$(find agni_description)/launch/hand_controllers.launch">
      <arg name="namespace" value="lh" />
      <arg name="use_prefix" value="$(arg use_prefix)"/>
    </include>
  </group> 
  
</launch>
