<launch>
	<arg name="use_prefix" default="0"/>
  <group ns="lh">
    <include file="$(find agni_description)/launch/single_shadow_gazebo.launch" >
      <arg name="init_pose" value="-x 0.2 -y 0 -z 0" />
      <arg name="namespace" value="lh"/>
      <arg name="use_prefix" value="$(arg use_prefix)"/>
    </include>
  </group>
</launch>
