<launch>
  
  <!-- upload parameters on the correct namespaces 
	must be done before gazebo spawner to have the plugin controller manager
	load on the sub namespaces -->
	<group ns="lk">
		<include file="$(find agni_description)/launch/kuka_upload.launch" >
      <arg name="namespace" value="lk"/>
    </include>  
	</group> 
	
	<group ns="lh">
		<include file="$(find agni_description)/launch/sr_upload.launch" >
      <arg name="namespace" value="lh"/>
    </include>  
	</group>
	
  <!-- Load the general left robot_description, spawn it, merge joint_states -->
  <group ns="left">
    <include file="$(find agni_description)/launch/single_kuka_shadow_gazebo_no_controllers.launch" >
      <!-- <arg name="init_pose" value="-x 0.5 -y 0 -z 0.05" />-->
      <arg name="namespace" value="left"/>
    </include>
    
	  <node pkg="topic_tools" type="relay"
        name="kuka_joint_state_merger"
        args="/lk/joint_states /left/joint_states" >
		</node>
	  <node pkg="topic_tools" type="relay"
        name="shadow_joint_state_merger"
        args="/lh/joint_states /left/joint_states" >
		</node>
	</group>
	
	<!-- Controllers for the arm -->
	<group ns="lk">
	  <include file="$(find agni_description)/launch/kuka_gazebo_bringup.launch" >
      <arg name="namespace" value="lk"/>
    </include>  
  </group> 
   
  <!-- Controllers for the hand -->
  <group ns="lh"> 
		<include file="$(find agni_description)/launch/hand_controllers.launch">
			<arg name="namespace" value="lh" />
		</include>
  </group> 
  
</launch>
