<launch>
  <arg name="use_prefix" default="0"/>
  <arg name="arm_type" default="kuka"/>
  <!-- upload parameters on the correct namespaces 
  must be done before gazebo spawner to have the plugin controller manager
  load on the sub namespaces -->
  
  <group ns="ra">
    <include file="$(find agni_description)/launch/arm_upload.launch" >
      <arg name="namespace" value="ra"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
    </include>  
  </group> 
  
  <group ns="rh">
    <include file="$(find agni_description)/launch/sr_upload.launch" >
      <arg name="namespace" value="rh"/>
      <arg name="use_prefix" value="$(arg use_prefix)"/>
    </include>  
  </group>
  
  <!-- Load the general right robot_description, spawn it, merge joint_states -->
  <group ns="right">
    <include file="$(find agni_description)/launch/single_arm_and_hand_gazebo_no_controllers.launch" >
      <!-- <arg name="init_pose" value="-x -0.5 -y 0 -z 0.05" />-->
      <arg name="namespace" value="right"/>
      <arg name="use_prefix" value="$(arg use_prefix)"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
    </include>
    
    <node pkg="topic_tools" type="relay"
        name="$(arg arm_type)_joint_state_merger"
        args="/ra/joint_states /right/joint_states" >
    </node>
    <node pkg="topic_tools" type="relay"
        name="shadow_joint_state_merger"
        args="/rh/joint_states /right/joint_states" >
    </node>
  </group>
  
  <!-- Controllers for the arm -->
  <group ns="ra">
    <include file="$(find agni_description)/launch/$(arg arm_type)_gazebo_bringup.launch" >
      <arg name="namespace" value="ra"/>
    </include>  
  </group> 
   
  <!-- Controllers for the hand -->
  <group ns="rh"> 
    <include file="$(find agni_description)/launch/hand_controllers.launch">
      <arg name="namespace" value="rh" />
      <arg name="use_prefix" value="$(arg use_prefix)"/>
    </include>
  </group> 
  
</launch>
