<launch>
  <arg name="arm_type" default="kuka"/>
  <group ns="ra">
    <include file="$(find agni_description)/launch/single_arm_gazebo.launch" >
      <arg name="init_pose" value="-x 0.5 -y 0 -z 0.05" />
      <arg name="namespace" value="ra"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
    </include>
	</group>
</launch>
