<launch>
	<!-- upload parameters on the correct namespaces 
	must be done before gazebo spawner to have the plugin controller manager
	load on the sub namespaces -->
	<group ns="rk">
		<include file="$(find agni_description)/launch/kuka_upload.launch" >
      <arg name="namespace" value="rk"/>
    </include>  
	</group> 
	
	<group ns="rh">
		<include file="$(find agni_description)/launch/sr_upload.launch" >
      <arg name="namespace" value="rh"/>
    </include>  
	</group>
	
  <!-- Load the general right robot_description, spawn it, merge joint_states -->
  <group ns="right">
    <include file="$(find agni_description)/launch/single_kuka_shadow_gazebo_no_controllers.launch" >
     <!-- <arg name="init_pose" value="-x -0.5 -y 0 -z 0.05" />-->
      <arg name="namespace" value="right"/>
    </include>
    
    <node pkg="topic_tools" type="relay"
        name="kuka_joint_state_merger"
        args="/rk/joint_states /right/joint_states" >
		</node>
	  <node pkg="topic_tools" type="relay"
        name="shadow_joint_state_merger"
        args="/rh/joint_states /right/joint_states" >
		</node>
  
	</group>
	
	<!-- Controllers for the arm -->
	<group ns="rk">
	  <include file="$(find agni_description)/launch/kuka_gazebo_bringup.launch" >
      <arg name="namespace" value="rk"/>
    </include>  
  </group> 
   
  <!-- Controllers for the hand -->
  <group ns="rh"> 
		<include file="$(find agni_description)/launch/hand_controllers.launch">
			<arg name="namespace" value="rh" />
		</include>
  </group> 
  
</launch>
