<launch>
  <arg name="namespace" default="right"/>
	<arg name="init_pose" default="-x 0 -y 0 -z 0.1"/>

  <!-- load robot_description -->
  <include file="$(find agni_description)/launch/kukas_upload.launch" >
     <arg name="namespace" value="$(arg namespace)"/>
  </include>
 
  <param name="tf_prefix" value="$(arg namespace)"/>
  <include file="$(find agni_description)/launch/gazebo_robot_spawner.launch" >
		<arg name="init_pose" value="$(arg init_pose)" />
		<arg name="robot_name" value="$(arg namespace)_kukas" />
	</include>
    
  <node pkg="robot_state_publisher" type="state_publisher"
        name="robot_state_publisher_full_pos">
    <param name="publish_frequency" type="double" value="10.0" />
		
  </node>
</launch>
