<launch>
  <arg name="namespace" default="right"/>

  <!-- load robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/pa10_$(arg namespace).urdf.xacro'" />
  
  <!-- publish joint values, open gui if use_gui=True -->
  <node name="joint_publisher"
		  pkg="joint_state_publisher" type="joint_state_publisher">
	 <param name="use_gui" value="True"/>
  </node>

  <!-- publish transforms of all robot links -->
  <node name="state_publisher" 
		  pkg="robot_state_publisher" type="state_publisher">
	 <param name="publish_frequency" type="double" value="10.0"/>
	 <param name="tf_prefix" value="$(arg namespace)"/>
  </node>

  <node name="mount_publisher"
		  pkg="util" type="static_transform_publisher.py" 
		  args="-p pa10_frame -c $(arg namespace)/$(arg namespace)_arm_base_link -g">
  </node>

</launch>
