<launch>
  <arg name="namespace" default="rh"/>
  <arg name="init_pose" default="-x 0 -y 0 -z 0"/>

	<!-- load robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/$(arg namespace)_ubi_motor_hand_prefix.urdf.xacro'" />
	<param name="tf_prefix" value="$(arg namespace)" />
	<include file="$(find agni_description)/launch/gazebo_robot_spawner.launch" >
		<arg name="init_pose" value="$(arg init_pose)" />
		<arg name="robot_name" value="$(arg namespace)_ubi_motor_hand" />
	</include>
	
	<!-- Controllers for the hand -->
  <include file="$(find agni_description)/launch/hand_controllers.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
	<include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch"/>
	
  <node pkg="robot_state_publisher" type="state_publisher"
        name="robot_state_publisher_full_pos">
    <!--<remap from="joint_states" to="joint_states" />-->
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

</launch>
