<launch>

  <!-- start gazebo with an empty plane -->
  <include file="$(find sr_hand)/launch/gazebo/loaders/empty_world.launch"/>
  
  <!-- load frame description -->
  <param name="frame" command="$(find xacro)/xacro.py '$(find agni_description)/robots/frame.urdf.xacro'" />
  
  <!-- include our robots -->
  <arg name="RH" default="1"/>
  <arg name="LH" default="0"/>
  <group if="$(arg RH)">
		<group if="$(arg LH)">
			  <!-- BOTH hands -->
			   <include file="$(find agni_description)/launch/both_hands_gazebo.launch"/>
		</group>	
		<group unless="$(arg LH)">
				<!-- RIGHT hand only -->
				 <include file="$(find agni_description)/launch/left_hand_gazebo.launch"/>
		</group>	
	</group>	
	<group unless="$(arg RH)">
			<!-- LEFT hand only -->
			   <include file="$(find agni_description)/launch/left_hand_gazebo.launch"/>
	</group>		
  
 
</launch>
