<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <include filename="finger_knuckle.urdf.xacro" />
  <include filename="finger_proximal.urdf.xacro" />
  <include filename="finger_middle.urdf.xacro" />
  <include filename="finger_distal.urdf.xacro" />

  <xacro:macro name="finger" params="link_prefix joint_prefix parent *origin *axis">

    <xacro:finger_knuckle/>
    <xacro:finger_proximal/>
    <xacro:finger_middle/>
    <xacro:finger_distal/>

  </xacro:macro>

</robot>